

<div class="container">

    <a class="btn btn-info" href="/Admin/AddCity">Add City</a>

    <a class="btn btn-info" href="/Admin/AddService">Add Service</a>


    <a class="btn btn-info" href="/Admin/ViewCallCenters">View Call centers</a>

    <div class="alert alert-success" id="alert" style="display:none;" role="alert">
        لديك عدد <span id="counter"> </span>طلبات جديدة  <a href="/Admin/index" class="alert alert-link ">عرض الطلبات </a>
    </div>

    <div class="alert alert-success" id="alert">

        <h1> numberOfCompletedReq : @ViewBag.numberOfCompletedReq</h1>

        <h1>   .numberOfPreReq  : @ViewBag.numberOfPreReq</h1>

        <h1> numOfCanceldPreReq : @ViewBag.numOfCanceldPreReq</h1>

        <h1>  .PendingClients : @ViewBag.PendingClients </h1>


    </div>

           <table >
            <thead>
                <tr>

                <th>UserName</th>
                 <th>Submit</th>
                </tr>
            </thead>

        @foreach (Coordinator item in ViewBag.Coordinator)
            {    <form>
            <tbody>
                <tr>
                       <td>@item.User.UserName</td>
                    <td>
                        <button type="button">Accept</button>
                        <button type="button">Ignore</button>
                    </td>
                </tr>
               
            </tbody>
                  </form>
                    }
        @foreach (CallCenter item in ViewBag.CallCenter)
            {    <form>
               <tbody>
                <tr>
                       <td>@item.User.Id</td>
                       <input type="hidden" name="CallCenterID" value="@item.User.Id">
                       <td>@item.User.UserName</td>
                 
                    <td>
                        <button type="submit">Accept</button>
                        <button type="button">Ignore</button>
                    </td>
                </tr>
               
            </tbody>
                  </form>
                    }
            @foreach (Technican item in ViewBag.Technicans)
               {
              <form>
                <tbody>
                <tr>
                    <td>@item.User.UserName</td>
                    <td>
                        <button type="button">Accept</button>
                        <button type="button">Ignore</button>
                    </td>
                   </tr>

               </tbody>
              </form>
        }
        </table>




</div>



@section Scripts{


    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/7.0.3/signalr.min.js"
            integrity="sha512-/rQxup+foY5qwZmEmvBhb0PHxx/Fd+ESH7Xw+pozdSKhygl+ZSQm1X6LWDQrxz+NoRAZwR03X78UinlY1C4RrQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script>

        //1-declare hub "URL"
        var hub = new signalR.HubConnectionBuilder().withUrl("/AddEmployee").
            build();
        //2-start connect as online client
        hub.start().then(function () {
            console.log("Connected@@");
    });


        hub.on("NewEmployeeAdded", function () {


        console.log("....");
            //$("#alert").append(`<p>لديك طلب جديد</p>`)
            document.getElementById("alert").style.display = "block";
        });

       </script>

}